@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: Helvetica, Arial;
}

header {
	height: 36px;
	background-image: url(../img/menu_bcg.jpg);
	background-repeat: repeat-x;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* HEADER */

header {
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}

.enter {
	float: right;
	margin-right: 20px;
	width: 191px;
}

.enter a {
	color: #fff;
}

.enter:hover {
	background-image: linear-gradient(#50afdc, #2e7ac4);
	border: 1px solid #4299d2;
	margin: -1px 19px -1px -1px;
	cursor: pointer;
}

.second_field {
	float: right;
	padding: 0 5px;
}

.second_field p {
	float: right;
}

.second_field img {
	float: right;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
}

.second_field:hover {
	background-image: linear-gradient(#50afdc, #2e7ac4);
	border: 1px solid #4299d2;
	margin: -1px -1px -1px -1px;
	cursor: pointer;
}

.line {
	float: right;
	margin-top: 2px;
	margin-right: 14px;
	height: 31px;
	border-right: 1px solid #56a2dc;
}

.menu {
	float: right;
	margin-right: 10px;
}

.menu ul li {
	float: right;
	display: inline-block;
	padding: 0 13px;
}

.menu a {
	text-decoration: none;
	font-size: 14px;
	color: #60b5ed;
}

.menu ul li:hover {
	height: 36px;
	background-color: #4eabda;
	cursor: pointer;
}

.menu ul li:hover > a{
	color: #fff;
}


/* WRAPPER */

.wrapper {
	height: 814px;
	background-image: url(../img/puteshestvie_po_miru_na_velosipede.jpg);
	padding-top: 213px;
}

.container {
	width: 560px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.63);
}

h1 {
	color: #fff;
	font-size: 24px;
	height: 62px;
	line-height: 62px;
	border-bottom: 2px solid #bdc7af;
}

input {
	padding-left: 20px;
}

.registration {
	width: 123px;
	margin: 0 auto;
	margin-bottom: 31px;
	font-size: 14px;
	line-height: 16px;
	color: #999;
}

.registration:before,
.registration:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 123px;
	height: 2px;
	background-image: linear-gradient(#666666, #000);
}

.registration:before {
	margin-left: -100%;
}

.registration:after {
	margin-right: -100%;
}

input.form {
	margin-bottom: 16px;
	height: 35px;
	width: 256px;
	color: #fff;
	background-color: #0f0f0f;
	border: none;
	border-bottom: 1px solid #484948;
}

input.form:focus {
	outline: none;
	background-color: rgba(27, 82, 136, 0.9);
	box-shadow: 0 0 5px #3e6d88 inset,
				0 0 5px #4783aa;
}

input.form::-webkit-input-placeholder {
	color: #ccc;
	font-size: 14px;
	line-height: 16px;
}

input.form:focus::-webkit-input-placeholder {
	color: #fff;
}

form.main {
	position: relative;
}

label {
	float: left;
	padding-left: 143px;
	margin-bottom: 23px;
	color: #ccc;
}

input.create {
	height: 35px;
	width: 151px;
	background-image: linear-gradient(#67c6e6, #3686ca);
	border: none;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
}

.footer {
	margin-top: 22px;
	padding-bottom: 22px;
	font-size: 11px;
	line-height: 16px;
	color: #ccc;
}

.footer p {
	margin-bottom: 0;
}

button {
	background: url(../img/FB_bkg.png);
	width: 276px;
	height: 35px;
	border: none;
	border-radius: 3px;
	margin-top: 36px;
	margin-bottom: 33px;
	cursor: pointer;
}

.fblogo {
	height: 35px;
}

.fb_icon {
	float: left;
	margin: 0 0 0 0;
	padding: 7px 11px 0 10px;
	border-right: 1px solid #1e3b73;
	height: 27px;
}

.fb_title {
	float: left;
	margin: 0 0 0 0;
	padding: 7px 0 0 24px;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	border-left: 1px solid #4c66a3;
	height: 27px;
}

.fb_title span {
	font-weight: normal;
}

.fb_arrow {
	float: right;
	padding: 10px 15px 0 0;
}